[Desktop Entry]
Type=Application
Name=@DISPLAY_NAME@
GenericName=Texture Cache Browser
Comment=Browse and export images in the Second Life texture cache
Exec=@NAME@
Icon=@NAME@
Categories=Graphics;Viewer;
Keywords=Second Life;texture;cache;
Terminal=false
StartupWMClass=@NAME@
